name: Build and Publish Docker Images

on:
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # Weekly on Sunday at midnight UTC

concurrency:
  group: 'build'
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to registry.tiankaima.cn
      uses: docker/login-action@v3
      with:
        registry: registry.tiankaima.cn
        username: tiankaima
        password: ${{ secrets.TKMA_REGISTRY_PASSWORD }}

    - name: Build and push Docker images
      run: |
        set -xeuo pipefail
        for folder in $(ls -d */); do
          image_name="${folder%/}"
          if [[ "${{ github.event_name }}" == "push" ]] && git diff --quiet HEAD^ HEAD -- ./${image_name}; then
            echo "No changes in ${image_name}, skipping build."
            continue
          fi
          if [[ -f ./${image_name}/build.sh ]]; then
            SHA=${{ github.sha }} OWNER=${{ github.repository_owner }} ./${image_name}/build.sh
            continue
          fi
          docker buildx build --cache-from ghcr.io/${{ github.repository_owner }}/${image_name}:latest \
                       -t ghcr.io/${{ github.repository_owner }}/${image_name}:latest \
                       -t registry.tiankaima.cn/${image_name}:latest \
                       --platform linux/amd64, linux/arm64 \
                       --push \
                       ./${image_name}
        done
