name: Build and Publish Docker Images

on:
  push:
    branches:
      - master

permissions:
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker images
      run: |
        for folder in $(ls -d */); do
          image_name="${folder%/}"
          if git diff --quiet HEAD^ HEAD -- ./${image_name}; then
            echo "No changes in ${image_name}, skipping build."
            continue
          fi
          if [[ -f ./${image_name}/build.sh ]]; then
            SHA=${{ github.sha }} OWNER=${{ github.repository_owner }} ./${image_name}/build.sh
            continue
          fi
          docker pull ghcr.io/${{ github.repository_owner }}/${image_name}:latest || true
          docker build --cache-from ghcr.io/${{ github.repository_owner }}/${image_name}:latest \
                       -t ghcr.io/${{ github.repository_owner }}/${image_name}:latest \
                       ./${image_name}
          docker push ghcr.io/${{ github.repository_owner }}/${image_name}:latest
        done
